<!DOCTYPE html>
<html>
<head>
    <title>Greeting Page</title>
    <style>
        body {
            background-color: lightyellow;
            font-family: Arial;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: green;
        }
        a {
            color: blue;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <h1>Hello {{ name }}!</h1>
    <p>Welcome to our website, {{ name }}</p>
    <p>Hope you have a great time here!</p>
    
    <hr>
    
    <a href="/">Back to Home Page</a>
</body>
</html>