<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <style>
        body {
            background-color: lightblue;
            font-family: Arial;
            text-align: center;
            padding: 50px;
        }
        h2 {
            color: navy;
        }
        a {
            color: red;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h2>Welcome to My Greeting Website</h2>
    <p>Type your name in the URL to see the greeting</p>
    <br>
    <br><br>
    <a href="/greet/JOORY/">Example: Greeting for JOORY</a>
</body>
</html>